.App {
  font-family: sans-serif;
}
body {
  width: 600px;
  margin: auto;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

h1 {
  font-size: 40px;
  color: white;
}

p {
  color: white;
  font-size: 20px;
  pagging: 1.5 rem;
}

button {
  font-size: 20px;
}
button:hover {
  font-weight: 700;
  background: "#E5E7EB";
}

div {
  color: white;
}
